@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.exam_skin_wood .com_btns {
  display: inline-block;
  margin: 0 .75em;
  padding: 0 1.41667em;
  height: 3.16667em;
  line-height: 3.16667em;
  text-align: center;
  vertical-align: middle;
  border-radius: .41667em; }

.exam_skin_wood .com_btns .btns-primary-txt {
  font-size: 1.5em;
  color: #384650; }

.exam_skin_wood .com_btns.btns-primary {
  border: 1px solid #397274;
  background: -webkit-linear-gradient(bottom, #e9e9e9 0, #fff 100%);
  background: linear-gradient(to top, #e9e9e9 0, #fff 100%); }

.exam_skin_wood .com_btns.btns-primary .btns-primary-icon {
  display: inline-block;
  height: 3em;
  vertical-align: top;
  margin-right: .33333em;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 100% auto; }

.exam_skin_wood .com_btns.btns-primary.ui_btn_active,
.exam_skin_wood .com_btns.btns-primary:active {
  background: -webkit-linear-gradient(bottom, #76b8ba 0, #89c5c7 100%);
  background: linear-gradient(to top, #76b8ba 0, #89c5c7 100%); }

.exam_skin_wood .com_btns.btns-primary.ui_btn_active .btns-primary-txt,
.exam_skin_wood .com_btns.btns-primary:active .btns-primary-txt {
  color: #fff; }

.exam_skin_wood .com_btns.btns-primary.ui_btn_active .btns-primary-icon,
.exam_skin_wood .com_btns.btns-primary:active .btns-primary-icon {
  background-position: center bottom; }

.exam_skin_wood .com_btns.btns-primary.click_disabled {
  border-color: #93989a;
  background: -webkit-linear-gradient(top, #c8d1d7 0, #c1c8cc 100%);
  background: linear-gradient(to bottom, #c8d1d7 0, #c1c8cc 100%);
  cursor: default; }

.exam_skin_wood .com_btns.btns-primary.click_disabled .btns-primary-txt {
  color: #969fa4; }

.exam_skin_wood .com_btns.btns-primary.click_disabled .btns-primary-icon {
  background-position: center center; }

.exam_skin_wood .tool_operate_bar {
  display: block;
  min-width: 5em;
  text-align: center; }

body {
  position: absolute;
  width: 100%;
  height: 100%;
  font-family: 'Microsoft YaHei', Helvetica, Arial, sans-serif; }

.container {
  width: 100%;
  height: 100%;
  position: relative;
  background: #afc7d8; }
  .container a {
    text-decoration: none; }
  .container ul li {
    list-style: none; }
  .container .hide_dom {
    display: none; }
  .container .exam_skin_wood {
    width: 100%;
    height: 100%;
    position: relative;
    /*++++++++主体部分开始+++++++++++*/
    /*############+滑动摩擦力图表 开始######### */
    /*############+滑动摩擦力图表 结束######### */
    /*############+弹簧测力计测量场景 开始######### */
    /*++++++选中侧边按钮动作++++++++*/
    /*++++++选中侧边按钮动作++++++++*/
    /*############+弹簧测力计测量场景 结束######## */
    /*@@@@@@@@弹窗 star @@@@@@@@*/
    /*@@@@@@@@弹窗 end @@@@@@@@*/
    /*#########侧边材质选择按钮开始##########*/
    /*#########侧边材质选择按钮结束#########*/
    /*++++底部开始++++*/
    /*++++底部结束++++*/ }
    .container .exam_skin_wood .com_btns {
      margin: 0; }
    .container .exam_skin_wood .frictionalForce_wrapper {
      width: 100%;
      height: 100%;
      position: relative;
      padding: 3.66667em 4.75em 1.66667em 4em;
      background: #bfd3e2; }
      .container .exam_skin_wood .frictionalForce_wrapper .frictionalForce_inner {
        width: 100%;
        height: 22.33333em;
        position: relative;
        padding-right: 10em; }
    .container .exam_skin_wood .frictionalForce_body {
      width: 100%;
      height: 100%; }
    .container .exam_skin_wood .frictionalForce_main {
      width: 100%;
      height: 100%;
      position: relative;
      float: left; }
    .container .exam_skin_wood .staticInvisiblePath {
      stroke-opacity: 0.009; }
    .container .exam_skin_wood .invisibleCircle {
      fill-opacity: 0.009; }
    .container .exam_skin_wood .frictionalForce_graph {
      position: absolute;
      left: 16.04167em; }
    .container .exam_skin_wood .frictional_coord {
      width: 43.66667em;
      height: 22.625em;
      background: url(./resources/images/graph-bg.png) no-repeat;
      background-size: 100% 100%; }
    .container .exam_skin_wood .frictionalForce_scene {
      position: relative;
      width: 100%;
      height: 17.08333em; }
      .container .exam_skin_wood .frictionalForce_scene .barbg {
        position: absolute;
        bottom: 0;
        z-index: 1;
        left: 2.29167em;
        width: 67.25em;
        height: 11.66667em;
        background: url(./resources/images/barbg.png) center bottom no-repeat;
        background-size: 100% 100%; }
      .container .exam_skin_wood .frictionalForce_scene .woodbg {
        position: absolute;
        bottom: 6.25em;
        left: 6.83333em;
        z-index: 2;
        width: 42.5em;
        height: 5.04167em;
        background: url(./resources/images/wood.png) no-repeat;
        background-size: 100% 100%; }
      .container .exam_skin_wood .frictionalForce_scene .towelbg {
        position: absolute;
        bottom: 6.25em;
        left: 5.33333em;
        z-index: 2;
        width: 44.41667em;
        height: 5.20833em;
        background: url(./resources/images/towel.png) no-repeat;
        background-size: 100% 100%; }
      .container .exam_skin_wood .frictionalForce_scene .glassbg {
        position: absolute;
        bottom: 6.25em;
        left: 5.54167em;
        z-index: 2;
        width: 44.16667em;
        height: 4.33333em;
        background: url(./resources/images/glass.png) no-repeat;
        background-size: 100% 100%; }
      .container .exam_skin_wood .frictionalForce_scene .pullObject {
        position: absolute;
        bottom: 7.83333em;
        left: 9.8em;
        z-index: 5; }
        .container .exam_skin_wood .frictionalForce_scene .pullObject .weightObject {
          position: absolute;
          bottom: 0;
          left: 0;
          z-index: 3;
          width: 12.58333em;
          height: 6.08333em;
          background: url(./resources/images/woodblock-glass.png) no-repeat;
          background-size: 100% 100%; }
          .container .exam_skin_wood .frictionalForce_scene .pullObject .weightObject .txt {
            color: #fff;
            line-height: 2.08333em;
            display: inline-block; }
        .container .exam_skin_wood .frictionalForce_scene .pullObject .farmar-top {
          position: absolute;
          bottom: 4.4em;
          width: 3.625em;
          height: 4.45833em;
          background: url(./resources/images/farmarbig.png) no-repeat;
          background-size: 100% 100%; }
        .container .exam_skin_wood .frictionalForce_scene .pullObject .scale {
          position: absolute;
          bottom: 0;
          left: 11.9em;
          z-index: 5;
          width: 22.41667em;
          height: 7.04167em;
          background: url(./resources/images/celiji.png) no-repeat;
          background-size: 100%; }
          .container .exam_skin_wood .frictionalForce_scene .pullObject .scale .reading {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            color: #17536b;
            text-shadow: 2px 2px 0 rgba(23, 83, 107, 0.2); }
            .container .exam_skin_wood .frictionalForce_scene .pullObject .scale .reading span {
              font-size: 2.66667em; }
        .container .exam_skin_wood .frictionalForce_scene .pullObject .force-reading {
          position: absolute;
          bottom: 2em;
          left: 2.83333em;
          z-index: 5;
          width: 11.58333em;
          height: 3.91667em; }
          .container .exam_skin_wood .frictionalForce_scene .pullObject .force-reading .reading b {
            font-weight: normal; }
          .container .exam_skin_wood .frictionalForce_scene .pullObject .force-reading .reading i.TimesNewRoman {
            font-family: 'Times New Roman'; }
    .container .exam_skin_wood .frictionalForce_scene.frictional-wood .pullObject .weightObject {
      background: url(./resources/images/woodblock-wood.png) no-repeat;
      background-size: 100%; }
    .container .exam_skin_wood .frictionalForce_scene.frictional-towel .pullObject .weightObject {
      background: url(./resources/images/woodblock-towel.png) no-repeat;
      background-size: 100%; }
    .container .exam_skin_wood .graph-prompt {
      display: none;
      position: absolute;
      pointer-events: none;
      z-index: 99;
      background: rgba(47, 47, 47, 0.5);
      border-radius: 0.70833em;
      color: #fff;
      padding: 0 0.66667em;
      height: 2.16667em;
      line-height: 2.16667em;
      text-align: center;
      margin-bottom: 0.33333em; }
      .container .exam_skin_wood .graph-prompt .con-detail {
        white-space: nowrap; }
        .container .exam_skin_wood .graph-prompt .con-detail span {
          font-size: 2em;
          font-family: 'Times New Roman'; }
      .container .exam_skin_wood .graph-prompt:before {
        content: "";
        display: inline-block;
        position: absolute;
        left: 20%;
        top: 100%;
        width: 0.4166667em;
        height: 0.33333em;
        -webkit-clip-path: polygon(0 0, 0.41667em 0, 0 0.33333em);
        clip-path: polygon(0 0, 0.41667em 0, 0 0.33333em);
        background: rgba(47, 47, 47, 0.5); }
    .container .exam_skin_wood .prompt-sport {
      position: absolute;
      bottom: -4em;
      left: 2em;
      z-index: 99;
      background: rgba(47, 47, 47, 0.8);
      border-radius: 0.41667em;
      color: #fff;
      padding: 0 2.08333em;
      height: 3.16667em;
      line-height: 3.16667em;
      text-align: center; }
      .container .exam_skin_wood .prompt-sport .con-detail {
        white-space: nowrap; }
        .container .exam_skin_wood .prompt-sport .con-detail span {
          font-size: 2em; }
      .container .exam_skin_wood .prompt-sport:before {
        content: "";
        display: inline-block;
        position: absolute;
        left: 2em;
        bottom: 100%;
        width: 0;
        height: 0;
        border-left: 0.625em solid transparent;
        border-right: 0.625em solid transparent;
        border-bottom: 0.66667em solid rgba(47, 47, 47, 0.8); }
    .container .exam_skin_wood .frictionalForce_aside {
      position: absolute;
      right: 0;
      top: 0;
      z-index: 2;
      width: 6.25em;
      height: 100%;
      padding-top: 3.75em; }
      .container .exam_skin_wood .frictionalForce_aside .list {
        padding: 1.875em 0;
        background: #9cafbc;
        border-radius: .625em; }
        .container .exam_skin_wood .frictionalForce_aside .list li {
          display: inline-block;
          text-align: center; }
        .container .exam_skin_wood .frictionalForce_aside .list li.menuCom a {
          display: block;
          position: relative;
          color: #fff; }
        .container .exam_skin_wood .frictionalForce_aside .list .btn-txt {
          font-size: 1.5em; }
        .container .exam_skin_wood .frictionalForce_aside .list .menuCom .icon-choice {
          width: 1.66667em;
          height: 1.66667em;
          position: absolute;
          z-index: 99;
          right: -0.82em;
          top: -.80833em;
          background: url(./resources/images/icon_choice.png) no-repeat;
          background-size: 100% 100%;
          -webkit-transition: all .75s;
          transition: all .75s;
          display: none; }
        .container .exam_skin_wood .frictionalForce_aside .list .menuCom.active .icon-choice {
          display: block; }
      .container .exam_skin_wood .frictionalForce_aside .woodMenu a {
        width: 4.375em;
        height: 2.16667em;
        background: url(./resources/images/wood-btn.png) no-repeat;
        background-size: 100% 100%;
        margin-bottom: 2.41667em; }
      .container .exam_skin_wood .frictionalForce_aside .towelMenu a {
        width: 4.375em;
        height: 2em;
        background: url(./resources/images/towel-btn.png) no-repeat;
        background-size: 100% 100%;
        margin-bottom: 2.41667em; }
      .container .exam_skin_wood .frictionalForce_aside .glassMenu a {
        width: 4.375em;
        height: 2.16667em;
        background: url(./resources/images/glass-btn.png) no-repeat;
        background-size: 100% 100%; }
    .container .exam_skin_wood .frictionalForce_footer_wrapper {
      position: absolute;
      left: 0;
      bottom: 0.83333em;
      height: 4.75em;
      width: 100%;
      padding: 0 4.75em 0 5.54167em;
      line-height: 4.75em; }
    .container .exam_skin_wood .frictionalForce_footer {
      width: 100%;
      height: 100%;
      position: relative;
      z-index: 99;
      background: rgba(56, 70, 80, 0.26);
      border-radius: 0.41667em; }
      .container .exam_skin_wood .frictionalForce_footer .list-left {
        position: relative;
        float: left;
        width: 22em;
        height: 100%;
        padding-top: 0.5em; }
      .container .exam_skin_wood .frictionalForce_footer .weightCom {
        width: 3.58333em;
        height: 3.58333em;
        line-height: 3.58333em;
        display: inline-block;
        margin: 0 1.66667em;
        border-radius: 0.41667em;
        color: #626f79;
        background: linear-gradient(to top, #e9e9e9 0, #fff 100%);
        border: 1px solid #397274; }
      .container .exam_skin_wood .frictionalForce_footer .reduceWeight {
        position: absolute;
        left: 3.08333em; }
      .container .exam_skin_wood .frictionalForce_footer .plusWeight {
        position: absolute;
        right: 1.2em; }
      .container .exam_skin_wood .frictionalForce_footer .reduceWeight span,
      .container .exam_skin_wood .frictionalForce_footer .plusWeight span {
        display: inline-block;
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -0.91667em; }
      .container .exam_skin_wood .frictionalForce_footer .reduceWeight .symbol,
      .container .exam_skin_wood .frictionalForce_footer .plusWeight .symbol {
        width: 1.83333em;
        height: 0.16667em;
        background: #626f79; }
      .container .exam_skin_wood .frictionalForce_footer .plusWeight .symbol-hor {
        content: "";
        display: inline-block;
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -0.08333em;
        margin-top: -0.91667em;
        width: 0.16667em;
        height: 1.83333em;
        background: #626f79; }
      .container .exam_skin_wood .frictionalForce_footer .reduceWeight.disabled,
      .container .exam_skin_wood .frictionalForce_footer .plusWeight.disabled {
        background: linear-gradient(to top, #c1c8cc 0, #c8d1d7 100%);
        border-color: #93989a;
        pointer-events: none; }
        .container .exam_skin_wood .frictionalForce_footer .reduceWeight.disabled span,
        .container .exam_skin_wood .frictionalForce_footer .plusWeight.disabled span {
          background: #8c979d; }
      .container .exam_skin_wood .frictionalForce_footer .plusWeight.disabled .symbol-hor {
        background: #8c979d; }
      .container .exam_skin_wood .frictionalForce_footer .reduceWeight.active,
      .container .exam_skin_wood .frictionalForce_footer .plusWeight.active,
      .container .exam_skin_wood .frictionalForce_footer .reduceWeight:active,
      .container .exam_skin_wood .frictionalForce_footer .plusWeight:active {
        background: linear-gradient(to top, #76b8ba 0, #89c5c7 100%); }
        .container .exam_skin_wood .frictionalForce_footer .reduceWeight.active span,
        .container .exam_skin_wood .frictionalForce_footer .plusWeight.active span,
        .container .exam_skin_wood .frictionalForce_footer .reduceWeight:active span,
        .container .exam_skin_wood .frictionalForce_footer .plusWeight:active span {
          background: #fff; }
      .container .exam_skin_wood .frictionalForce_footer .plusWeight.active:before,
      .container .exam_skin_wood .frictionalForce_footer .plusWeight:active:before {
        background: #fff; }
      .container .exam_skin_wood .frictionalForce_footer .farmar {
        position: absolute;
        top: 0;
        left: 10.3em;
        height: 4.08333em;
        width: 3.16667em;
        background: url(./resources/images/farmar.png) no-repeat;
        background-size: 100%;
        display: inline-block; }
      .container .exam_skin_wood .frictionalForce_footer .list-middle {
        float: left;
        height: 100%;
        color: #384650;
        padding: 0.8333em 2.08333em; }
        .container .exam_skin_wood .frictionalForce_footer .list-middle li {
          display: inline-block;
          margin: 0 1.0416666667em; }
        .container .exam_skin_wood .frictionalForce_footer .list-middle a.sliding_btns {
          float: left;
          display: inline-block;
          min-width: 8.3333333333em;
          height: 3.3333333333em;
          line-height: 3.1666666667em;
          padding: 0 .75em;
          background: url(./resources/images/yellow-icon.png) center center no-repeat;
          background-size: 100% 100%;
          text-align: center; }
          .container .exam_skin_wood .frictionalForce_footer .list-middle a.sliding_btns .btns-primary-txt {
            font-size: 1.5em;
            color: #864100; }
        .container .exam_skin_wood .frictionalForce_footer .list-middle .sliding_btns.btn_active {
          background: url(./resources/images/yellowon-icon.png) center center no-repeat;
          background-size: 100% 100%; }
          .container .exam_skin_wood .frictionalForce_footer .list-middle .sliding_btns.btn_active .btns-primary-txt {
            color: #fcdb75; }
        .container .exam_skin_wood .frictionalForce_footer .list-middle .sliding_btns.click_disabled {
          background: url(./resources/images/gray-icon.png) center center no-repeat;
          background-size: 100% 100%; }
          .container .exam_skin_wood .frictionalForce_footer .list-middle .sliding_btns.click_disabled .btns-primary-txt {
            color: #757d83; }
      .container .exam_skin_wood .frictionalForce_footer .list-right {
        float: right;
        padding: .8333em;
        height: 100%; }
        .container .exam_skin_wood .frictionalForce_footer .list-right li {
          display: inline-block;
          margin: 0 .75em; }
        .container .exam_skin_wood .frictionalForce_footer .list-right a {
          float: left;
          display: block; }
